
/*# means ID and . means class name*/

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'kumbh Sans', sans-serif;
}

.navbar {
    background: #fff;
    height: 80px;
    display:flex;
    justify-content: center ;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #4b8f67;
    background-image: #4b8f67 100%;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align:center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #4b8f67;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-style: solid ;
    border-width: 5px;
    border-color: #4b8f67;
    outline-width: 8px ;
    outline-color: #4b8f67 ;
    border-radius: 4px;
    background: #fff ;
    color: #4b8f67;
}

/*makes the button change colours when you hover over it */
.button:hover {
    background: #4b8f67;
    transition: all 0.3s ease;
    color: #fff;
}

/*makes the other links change color when you hover over them */
.navbar__links:hover {
    color: #4b8f67;
    transition: all 0.3s ease;
}

/*mobile responsibe tablet responsive part below */

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #4b8f67;
    }
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {

        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }
    
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%,20%);  
    }

    .navbar__btn {
        padding-bottom: 2rem;   
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero sectionc css */

.main {
    background: #4b8f67;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh ;
    background-color: #4b8f67;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;


}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #fff 25%, #913840 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent

}

.main__content h2 {
    font-size: 4rem;
    background-color: #fff;
    background-image: linear-gradient(to top, #fff 25%, #913840 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
}

.main__content p {
    margin-top: 1rem ;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1rem;
    
    padding: 14px 32px;
    border-style: solid ;
    border-width: 5px;
    border-color: #fff;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem ;
    cursor: pointer;
    position: relative;
    transition:   all 0.3 ease;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #4b8f67;
    text-decoration: none;
}

.main__btn a::after {
    color: #fff;
}

.main__btn:after {
    position: absolute;
    content:  '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b8f67;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
    
}

.main__btn:hover::after {
    width: 100%;
    color: #fff;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 780px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;

    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;

    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }
    .main__content h2 {
        font-size: 3rem;
    }
    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn {
        padding: 12px 36px;

    }
}

/* Services section css */

.services {
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, 
    #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f,
    #f99185,
    #cf556c,
    #b12a5b);
    background-size: 100%;
    margin-bottom: 5rem ;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
}




.services {
    padding: 3rem;;
}

.sliderwrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
    
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider_nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;

}

.slider_nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider_nav a:hover {
    opacity: 100%;
}

.footer__container {
    background: #4b8f67;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 10vh;
    padding-bottom: 25px;
}

.footer__link--items {
    font-size: large;
    position: relative;
}




/* testing for git commit */